// Background Colors
$cp_bg-primary:#F5F5F7;
$cp_bg-secondary:#6c757d;
$cp_bg-secondary:#6c757d;
$cp_bg-accent:#6c757d;

// Text Colors
$cp_text-primary:#1D1D1F;
$cp_text-secondary:#6c757d;
$cp_text-secondary:#6c757d;
$cp_text-accent:#6c757d;

// Special Colors
$cp_color-success: #28a745;
$cp_color-info: #17a2b8;
$cp_color-warning: #ffc107;
$cp_color-danger: #dc3545;