/*
JP BEHRENS @ CODE PLUS (https://code-plus-media.de)
Last Update 2023-06-13
v 0.0.2
*/

// Der Klassenpräfix für die Flexbox-Klassen
$class-prefix: fbox;

// Flussrichtung der Elemente innerhalb der Flexbox
$directions: (
  "row": row,
  "col": column
);

// Ausrichtung entlang der X-Achse (Hauptachse)
$justify-contents: (
  "start": flex-start,
  "center": center,
  "end": flex-end,
  "between": space-between,
  "around": space-around,
  "evenly": space-evenly
);

// Ausrichtung entlang der Y-Achse (Kreuzachse)
$align-items: (
  "start": flex-start,
  "center": center,
  "end": flex-end,
  "base": baseline,
  "stretch": stretch
);

// Generierung der Flexbox-Klassen
@each $name, $direction in $directions {
  $direction-class: #{$class-prefix}-#{$name};
  
  // Flexbox-Klasse für die Flussrichtung
  .#{$direction-class} {
    display: flex;
    flex-direction: $direction;
  }

  @each $justify_name, $justify-content in $justify-contents {
    $justify-class: #{$direction-class}-#{$justify_name};
    
    // Flexbox-Klasse für die Ausrichtung entlang der X-Achse (Hauptachse)
    .#{$justify-class} {
      display: flex;
      flex-direction: $direction;
      justify-content: $justify-content;
    }
    
    @each $align_name, $align-item in $align-items {
      $align-class: #{$justify-class}-#{$align_name};
      
      // Flexbox-Klasse für die Ausrichtung entlang der Y-Achse (Kreuzachse)
      .#{$align-class} {
        display: flex;
        flex-direction: $direction;
        justify-content: $justify-content;
        align-items: $align-item;
      }
    }
  }
}